

.cube-face div {
  background-color: white;
}

body {
  text-align: center;
  padding: 50px;
}
.scene {
  display: inline-block;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  perspective: 600px;
}
.cube {
  position: relative;
  width: inherit;
  height: inherit;
  animation-name: spin;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transform-style: preserve-3d;
  transition: transform .1s;
}
.cube-face {
  border: 1px solid black;
  width: inherit;
  height: inherit;
  position: absolute;
}

.cube-face-front {
  transform: translate3d(0, 0, 125px);
}
.cube-face-back {
  transform: rotateY(180deg) translate3d(0, 0, 125px);
}
.cube-face-left {
  transform: rotateY(-90deg) translate3d(0, 0, 125px);
}
.cube-face-right {
  transform: rotateY(90deg) translate3d(0, 0, 125px);
}
.cube-face-top {
  transform: rotateX(90deg) translate3d(0, 0, 125px);
}
.cube-face-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 125px);
}

@keyframes spin {
    from {transform: rotateX(720deg) rotateY(360deg)}
    to {transform: rotateX(-720deg) rotateY(-360deg)}
  }
