

.cube-face div {
  background-color: white;
}

body {
  text-align: center;
  padding: 50px;
}
.scene {
  display: inline-block;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  perspective: 600px;
}
.cube {
  position: relative;
  width: inherit;
  height: inherit;
  animation-name: spin;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
}

.cube-face-front {
  transform: translate3d(0, 0, 75px);
}
.cube-face-back {
  transform: rotateY(180deg) translate3d(0, 0, 75px);
}
.cube-face-left {
  transform: rotateY(-90deg) translate3d(0, 0, 75px);
}
.cube-face-right {
  transform: rotateY(90deg) translate3d(0, 0, 75px);
}
.cube-face-top {
  transform: rotateX(90deg) translate3d(0, 0, 75px);
}
.cube-face-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 75px);
}

@keyframes spin {
    from {transform: rotate3d(200deg, 200deg, 200deg);}
    to {transform: rotate3d(-200deg, -200deg, -200deg):}
